@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root {
    --primary-color: #220901;
    --secondary-color: #621708;
    --accent1-color: #941B0C;
    --accent2-color: #BC3908;

    --heading-font: 'Roboto Mono', sans-serif;
    --paragraph-font: 'Monserrat', sans-serif;

    --nav-background-color: #220901;
    --nav-link-color: #BC3908;
    --nav-hover-link-color: #F6AA1C;
    --nav-hover-background-color: #941B0C;
}
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font);
    background-color: #0c0c0c;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    
    
}
header {
    display: flex;
    /* Cambiado de grid a flexbox */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    
}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 195px;
    cursor: pointer;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin: 0 20px;
}

nav a {
    display: inline-block;
    padding: 10px;
    font-family: var(--heading-font);
    text-decoration: none;
    font-weight: 800;
    position: relative;
    text-align: center;
    font-size: 16px;
    color: var(--nav-hover-link-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: var(--nav-hover-link-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}

nav a:hover::after {
    transform: scaleX(1);
}
.container1 {
    width: 100%;
    min-height: 100vh;
    background: url('../images/barber-hero.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centro horizontalmente */
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: var(--nav-hover-link-color);
    color: #fff;
    cursor: pointer;
    font-family: var(--heading-font);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 40%;
}
.btn:hover{
    background-color: #BC3908;
}

.btn img{
    width: 45px;
    margin-right: 10px ;
}
.content{
    margin-top: 5%;
    color: #4e4c4c;
    max-width: 620px;
}
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 65px;
    margin-bottom: 25px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
    color: #F6AA1C;
    
}

hr {
    border: 0;
    border: 5px solid var(--nav-hover-link-color);
    margin: 40px 0;
    
}
.container-2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.figcaption{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-content: center;
        /* Centra el contenido del grid horizontalmente */
        align-items: center;
        /* Centra el contenido del grid verticalmente */
        padding: 0;
        margin: 0;
}
.figcaption img {
    width: 350px;
    height:380px;
    border-radius: 10px;
}

.results-h2{
    font-size: 2rem;
    font-family: var(--heading-font);
    text-align: center;
    color:#fafafa;
}




/* history section*/

.barber-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.image-container img {
    width: 400px;
    height: auto;
    border-right: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
}

.text-container {
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.text-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.text-container h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #555;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #666;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color:var(--nav-hover-link-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-family: var(--heading-font);
    width: 40%;
    text-align: center;
}

.learn-more-btn:hover {
    background-color: #BC3908;
}

.menu-toggle {
    display: none;
    /* Ocultar el botón en pantallas grandes */
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: auto;
}

/* Media Queries para Tablets */
@media (max-width: 1024px) {
    .logo {
        width: 150px;
        /* Ajustar el tamaño del logo para tablets */
    }

    nav a {
        font-size: 14px;
        /* Reducir tamaño de fuente para tablets */
    }

    .content h1 {
        font-size: 50px;
        line-height: 65px;
    }

    .content p {
        margin-bottom: 50px;
        font-size: 18px;
    }

    .figcaption {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .figcaption img {
        width: 300px;
        height: 330px;
    }

    .text-container h2 {
        font-size: 22px;
    }

    .text-container h3 {
        font-size: 18px;
    }

    .text-container p {
        font-size: 14px;
    }
}

/* Media Queries para Tablets */
@media (max-width: 1024px) {
    .logo {
        width: 150px;
        /* Ajustar el tamaño del logo para tablets */
    }

    nav a {
        font-size: 14px;
        /* Reducir tamaño de fuente para tablets */
    }

    .content h1 {
        font-size: 50px;
        line-height: 65px;
    }

    .content p {
        margin-bottom: 50px;
        font-size: 18px;
    }

    .figcaption {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .figcaption img {
        width: 300px;
        height: 330px;
    }

    .text-container h2 {
        font-size: 22px;
    }

    .text-container h3 {
        font-size: 18px;
    }

    .text-container p {
        font-size: 14px;
    }
}

/* Media Queries para Móviles */
@media (max-width: 740px) {
    .menu-toggle {
        display: block;
        color: var(--nav-hover-link-color);
        margin: 20px;
        
    /* Mostrar el botón en pantallas móviles */
    }

    header {
        flex-direction:row;
        align-items: flex-start;
    }

    .logo {
        width: 100px;
        /* Ajustar el tamaño del logo para móviles */
        margin:  0 auto;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .navigation {
        display: none;
        /* Ocultar el menú por defecto en móviles */
        width: 100%;
        flex-direction: column;
    }

    .navigation.active {
        display: flex;
        /* Mostrar el menú cuando el botón sea clicado */
    }

    .navigation li {
        margin: 10px 0;
    }

    nav a {
        font-size: 12px;
        /* Reducir tamaño de fuente para móviles */
    }
.content{
    margin-top: 870px;
}
    .content h1 {
        font-size: 70px;
        line-height: 70px;
    }

    .content p {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .figcaption {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .figcaption img {
        width: 250px;
        height: 275px;
    }

    .container {
        flex-direction: column;
        padding: 20px;
    }

    .image-container img {
        width: 100%;
        margin: 0;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .text-container {
        padding: 10px;
        margin: 0;
    }

    .text-container h2 {
        font-size: 20px;
    }

    .text-container h3 {
        font-size: 16px;
    }

    .text-container p {
        font-size: 14px;
    }

    .learn-more-btn {
        padding: 8px 16px;
        width: 100%;

    }
    .btn{
        width: 100%;
        
        }
}