@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

:root {
    --primary-color: #C6C6C6;
    --secondary-color: #232323;
    --accent1-color: #A7A7A7;
    --accent2-color: #313131;

    --heading-font: 'Kanit', Light300;
    --paragraph-font: 'Comfortaa', Light300;

    --nav-background-color: #232323;
    --nav-link-color: #4a4e69;
    --nav-hover-link-color: #FAFAFA;
    --nav-hover-background-color: #8d99ae;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--paragraph-font);

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 2rem;

}

header {
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: 90px 3fr 1.8fr .0fr; 
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
    
}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 94px;
    height: auto;
}

header h1 {

    font-size: 3rem;
    color: var(--nav-background-color);

}

nav {
    border-radius: 10px;
    background-color: var(--nav-background-color);


}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

nav a {
    display: inline-block;
    color: #FAFAFA;
    padding: 10px;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    position: relative;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 14px;
}

nav a:link,
nav a:visited {
    color: #FAFAFA;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #FAFAFA;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;

}

nav a:hover::after {
    transform: scaleX(1);
}

figure {

    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}


figcaption {
    background-color: #222;
    color: #fff;
    padding: 3px;
    text-align: center;
    font-size: 1rem;
    
}

.foot {
    background-color: var(--accent2-color);
    color: #fff;
    padding: 10px;

}

footer p {
    text-align: center;
    font-size: medium;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: relative;
    top: 30px;

}

footer nav img {
    position: relative;
    display: flex;
    width: 20px;

}

.sociallinks {
    background-color: var(--accent1-color);
    border-radius: 5px;
    padding: 0;

}

.flex-img {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.flex-img img {
    max-width: 450px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.5s ease;
    border-radius: 50px;
}

.flex-img img.active {
    transform: scale(2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 10;
    max-width: 90%;
    max-height: 90%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);

    display: none;

    z-index: 9;

}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;

}

section h2 {
    text-align: center;

}
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    display: block;
    height: auto;
    
}

/*******************************************
*
*           CSS for Contact Us
*
*******************************************/
.contactus {
    margin: 0 auto;
    gap: 30px 10px;
    

}

.con-hero {
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: -1;
}

.contact {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    margin: 0 3.5em;
    border: 2px solid #fafafa10;
    color: #FAFAFA;
    background: #fafafa10;
    backdrop-filter: blur(0.8rem);
    -webkit-backdrop-filter: blur(0.6rem);
    box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
    padding: 20px;
    /* Espacio interno alrededor del contenido */
    max-width: 100%;
    /* Asegura que no se desborde del contenedor */
    box-sizing: border-box;
    
}

.contact-fields {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 0;
}

input, label, textarea, select {
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    padding:5px ;
}

label {
    margin-top: 70px;
    margin-bottom: 5px;
    color: var(--nav-hover-link-color);
    letter-spacing: .5px;
    
}

.signup {
    margin-top: 50px;
    margin-bottom: 5px;
    
}

input:focus,
textarea:focus,
select:focus {
    
    color: #232323;
    font-family: var(--paragraph-font);
    
}

.submit {
    padding: 1.5em;
    margin: 1em;
    background-color: var(--nav-background-color);
    color: #FAFAFA;
    box-shadow: 5px 3px 3px #000;
    border-radius: 50px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 900;
    text-shadow: 0px 1px 0px #7c8294;
}
.submit:hover {
    background: linear-gradient(to bottom, #1b1c1f 5%, #232323 100%);
    background-color: #1b1c1f;
    transform: scale(1.03);
}

.address {
    grid-column: 7/13;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.add-phone {
    grid-row: 1;

}

.add-phone a,
.add-phone address {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    display: block;
    padding: 0.5em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 80px;
}

.gmap {
    border: 3px solid #4a4e69;
    grid-row: 2
}

.employees {
    grid-column: 1/-1;
}

.employee {
    margin: 0;
}

.employee:nth-of-type(1) {
    grid-column: 2/4;
}

.employee:nth-of-type(2) {
    grid-column: 6/8;
}

.employee:nth-of-type(3) {
    grid-column: 10/12;
}


.hrule {
    border: 10px solid rgba(0, 0, 0, 0.8);
    grid-column: 1/-1;

}
figure img{
    
            max-width: 600px;
            height: auto;
            transition: transform 0.5s ease;
            
        
}